# 시계열

In [1]:
# 11.1 날짜, 시간 자료형, 도구

In [2]:
import pandas as pd
import numpy as np

In [3]:
from datetime import datetime

In [4]:
now = datetime.now()
now

datetime.datetime(2021, 2, 20, 19, 48, 17, 198856)

In [5]:
now.year, now.month, now.day

(2021, 2, 20)

In [6]:
delta = datetime(2011, 1, 7) - datetime(2008, 6, 24, 8, 15)
delta

datetime.timedelta(days=926, seconds=56700)

In [7]:
delta.days

926

In [8]:
delta.seconds

56700

In [9]:
from datetime import timedelta   # 날짜만큼 계산해준다. 정확히는 시간 값 간의 차이를 표현

In [10]:
start = datetime(2011, 1, 7)

In [11]:
start + timedelta(12)

datetime.datetime(2011, 1, 19, 0, 0)

In [12]:
start - 2 * timedelta(12)

datetime.datetime(2010, 12, 14, 0, 0)

In [13]:
# 11.1.1 문자열을 datetime으로 표현하기

In [14]:
stamp = datetime(2011, 1,3)
str(stamp)

'2011-01-03 00:00:00'

In [15]:
stamp.strftime('%Y-%m-%d')

'2011-01-03'

In [16]:
value = '2011-01-03'

In [17]:
datetime.strptime(value,'%Y-%m-%d')

datetime.datetime(2011, 1, 3, 0, 0)

In [19]:
datestrs = ['7/6/2011', '8/6/2011']

In [20]:
[datetime.strptime(x, '%m/%d/%Y') for x in datestrs]

[datetime.datetime(2011, 7, 6, 0, 0), datetime.datetime(2011, 8, 6, 0, 0)]

In [21]:
from dateutil.parser import parse

In [22]:
parse('2011-01-03')

datetime.datetime(2011, 1, 3, 0, 0)

In [23]:
parse('Jan 31, 1997 10:45 PM')

datetime.datetime(1997, 1, 31, 22, 45)

In [24]:
parse('2/12/2011', dayfirst=True)

datetime.datetime(2011, 12, 2, 0, 0)

In [25]:
datestrs = ['2011-07-06 12:00:00', '2011-08-06 00:00:00']

pd.to_datetime(datestrs)

DatetimeIndex(['2011-07-06 12:00:00', '2011-08-06 00:00:00'], dtype='datetime64[ns]', freq=None)

In [26]:
idx = pd.to_datetime(datestrs + [None])
idx

DatetimeIndex(['2011-07-06 12:00:00', '2011-08-06 00:00:00', 'NaT'], dtype='datetime64[ns]', freq=None)

In [27]:
idx[2]

NaT

In [28]:
pd.isnull(idx)

array([False, False,  True])

In [29]:
idx.isnull()

array([False, False,  True])

In [30]:
# 11.2 시계열 기초

In [31]:
from datetime import datetime

In [32]:
dates = [datetime(2011, 1, 2), datetime(2011, 1, 5),
        datetime(2011, 1, 7), datetime(2011, 1, 8),
        datetime(2011, 1, 10), datetime(2011, 1, 12)]

In [33]:
ts = pd.Series(np.random.randn(6), index=dates)

In [34]:
ts

2011-01-02   -0.032030
2011-01-05    0.632531
2011-01-07   -0.278109
2011-01-08   -0.755354
2011-01-10   -1.383523
2011-01-12    0.935695
dtype: float64

In [35]:
ts.index

DatetimeIndex(['2011-01-02', '2011-01-05', '2011-01-07', '2011-01-08',
               '2011-01-10', '2011-01-12'],
              dtype='datetime64[ns]', freq=None)

In [37]:
ts + ts[::2]

2011-01-02   -0.064060
2011-01-05         NaN
2011-01-07   -0.556218
2011-01-08         NaN
2011-01-10   -2.767046
2011-01-12         NaN
dtype: float64

In [38]:
ts.index.dtype

dtype('<M8[ns]')

In [39]:
stamp = ts.index[0]

In [40]:
stamp

Timestamp('2011-01-02 00:00:00')

In [41]:
# 11.2.1 색인, 선택, 부분 선택

In [42]:
stamp = ts.index[2]

In [43]:
ts[stamp]

-0.2781087558151129

In [44]:
ts['1/10/2011']

-1.3835229090843262

In [45]:
ts['20110110']

-1.3835229090843262

In [46]:
longer_ts = pd.Series(np.random.randn(1000), index=pd.date_range('1/1/2000', periods=1000))
longer_ts

2000-01-01   -0.789807
2000-01-02    1.419657
2000-01-03   -1.435696
2000-01-04    0.758761
2000-01-05   -0.206292
                ...
2002-09-22   -1.444674
2002-09-23   -0.608578
2002-09-24    0.738136
2002-09-25    0.553780
2002-09-26   -1.495935
Freq: D, Length: 1000, dtype: float64

In [48]:
longer_ts['2001']  # 연도로 자동 해석됌

2001-01-01    0.526356
2001-01-02   -1.614652
2001-01-03    0.951073
2001-01-04    1.158426
2001-01-05    0.115267
                ...
2001-12-27    0.362558
2001-12-28    0.305719
2001-12-29   -0.943936
2001-12-30    0.438895
2001-12-31   -0.988222
Freq: D, Length: 365, dtype: float64

In [49]:
longer_ts['2001-05']

2001-05-01    0.294502
2001-05-02   -0.237099
2001-05-03   -0.459652
2001-05-04    0.838622
2001-05-05    0.621893
2001-05-06   -1.844578
2001-05-07    0.545582
2001-05-08    1.000643
2001-05-09   -0.307445
2001-05-10    2.293063
2001-05-11   -0.064164
2001-05-12    0.064082
2001-05-13    0.513376
2001-05-14    1.044896
2001-05-15   -2.148489
2001-05-16    0.663265
2001-05-17    0.219912
2001-05-18   -0.191437
2001-05-19   -0.275648
2001-05-20   -1.582504
2001-05-21    0.559250
2001-05-22   -1.544362
2001-05-23    1.603663
2001-05-24    0.967290
2001-05-25    1.212754
2001-05-26    0.917486
2001-05-27   -0.088980
2001-05-28   -0.969176
2001-05-29   -0.998462
2001-05-30    0.285720
2001-05-31    0.524897
Freq: D, dtype: float64

In [50]:
ts[datetime(2011, 1, 7):]

2011-01-07   -0.278109
2011-01-08   -0.755354
2011-01-10   -1.383523
2011-01-12    0.935695
dtype: float64

In [51]:
ts.truncate(after='1/9/2011')

2011-01-02   -0.032030
2011-01-05    0.632531
2011-01-07   -0.278109
2011-01-08   -0.755354
dtype: float64

In [52]:
dates1 = pd.date_range('1/1/2000', periods=100, freq='W-WED')

In [53]:
long_df = pd.DataFrame(np.random.randn(100, 4),
                      index=dates1,
                      columns=['Colorado', 'Texas',
                              'New York', 'Ohio'])

In [54]:
long_df.loc['5-2001']

            Colorado     Texas  New York      Ohio
2001-05-02  0.185194  0.332201 -0.825621  0.521163
2001-05-09 -0.676621 -0.010317 -0.281031  2.446944
2001-05-16 -1.602956 -0.009275  2.353504  1.111714
2001-05-23  0.448530 -0.549429 -0.953749 -0.124465
2001-05-30 -1.108919  1.471335  1.404962 -1.298574

In [55]:
# 11.2.2 중복된 색인을 갖는 시계열

In [59]:
dates2 = pd.DatetimeIndex(['1/1/2000', '1/2/2000', '1/2/2000',
                      '1/2/2000', '1/3/2000'])  # datetimeindex 라고 따로 있다

In [60]:
dup_ts = pd.Series(np.arange(5), index=dates2)

In [61]:
dup_ts

2000-01-01    0
2000-01-02    1
2000-01-02    2
2000-01-02    3
2000-01-03    4
dtype: int64

In [63]:
dup_ts.index.is_unique  # 유일성 판단

False

In [64]:
dup_ts['1/3/2000']

4

In [65]:
dup_ts['1/2/2000']

2000-01-02    1
2000-01-02    2
2000-01-02    3
dtype: int64

In [66]:
grouped = dup_ts.groupby(level=0)

In [67]:
grouped.mean()

2000-01-01    0
2000-01-02    2
2000-01-03    4
dtype: int64

In [68]:
grouped.count()

2000-01-01    1
2000-01-02    3
2000-01-03    1
dtype: int64

In [69]:
# 11.3 날짜 범위, 빈도, 이동

In [70]:
ts

2011-01-02   -0.032030
2011-01-05    0.632531
2011-01-07   -0.278109
2011-01-08   -0.755354
2011-01-10   -1.383523
2011-01-12    0.935695
dtype: float64

In [72]:
resampler = ts.resample('D')

In [74]:
index = pd.date_range('2012-04-01', '2012-06-01')

In [75]:
index

DatetimeIndex(['2012-04-01', '2012-04-02', '2012-04-03', '2012-04-04',
               '2012-04-05', '2012-04-06', '2012-04-07', '2012-04-08',
               '2012-04-09', '2012-04-10', '2012-04-11', '2012-04-12',
               '2012-04-13', '2012-04-14', '2012-04-15', '2012-04-16',
               '2012-04-17', '2012-04-18', '2012-04-19', '2012-04-20',
               '2012-04-21', '2012-04-22', '2012-04-23', '2012-04-24',
               '2012-04-25', '2012-04-26', '2012-04-27', '2012-04-28',
               '2012-04-29', '2012-04-30', '2012-05-01', '2012-05-02',
               '2012-05-03', '2012-05-04', '2012-05-05', '2012-05-06',
               '2012-05-07', '2012-05-08', '2012-05-09', '2012-05-10',
               '2012-05-11', '2012-05-12', '2012-05-13', '2012-05-14',
               '2012-05-15', '2012-05-16', '2012-05-17', '2012-05-18',
               '2012-05-19', '2012-05-20', '2012-05-21', '2012-05-22',
               '2012-05-23', '2012-05-24', '2012-05-25', '2012-05-26',
               '2012-05-27', '2012-05-28', '2012-05-29', '2012-05-30',
               '2012-05-31', '2012-06-01'],
              dtype='datetime64[ns]', freq='D')

In [76]:
pd.date_range(start='2012-04-01', periods=20)

DatetimeIndex(['2012-04-01', '2012-04-02', '2012-04-03', '2012-04-04',
               '2012-04-05', '2012-04-06', '2012-04-07', '2012-04-08',
               '2012-04-09', '2012-04-10', '2012-04-11', '2012-04-12',
               '2012-04-13', '2012-04-14', '2012-04-15', '2012-04-16',
               '2012-04-17', '2012-04-18', '2012-04-19', '2012-04-20'],
              dtype='datetime64[ns]', freq='D')

In [77]:
pd.date_range(end='2012-06-01', periods=20)

DatetimeIndex(['2012-05-13', '2012-05-14', '2012-05-15', '2012-05-16',
               '2012-05-17', '2012-05-18', '2012-05-19', '2012-05-20',
               '2012-05-21', '2012-05-22', '2012-05-23', '2012-05-24',
               '2012-05-25', '2012-05-26', '2012-05-27', '2012-05-28',
               '2012-05-29', '2012-05-30', '2012-05-31', '2012-06-01'],
              dtype='datetime64[ns]', freq='D')

In [79]:
pd.date_range('2000-01-01', '2000-12-01', freq='BM')  # 월 영업마감일에 맞춘 빈도값으로 'BM' 입력

DatetimeIndex(['2000-01-31', '2000-02-29', '2000-03-31', '2000-04-28',
               '2000-05-31', '2000-06-30', '2000-07-31', '2000-08-31',
               '2000-09-29', '2000-10-31', '2000-11-30'],
              dtype='datetime64[ns]', freq='BM')

In [81]:
pd.date_range('2012-05-02 12:56:31', periods=5)  # 일 에 맞춰서 변경됌

DatetimeIndex(['2012-05-02 12:56:31', '2012-05-03 12:56:31',
               '2012-05-04 12:56:31', '2012-05-05 12:56:31',
               '2012-05-06 12:56:31'],
              dtype='datetime64[ns]', freq='D')

In [83]:
pd.date_range('2012-05-02 12:56:31', periods=5, normalize=True)  #자정에 맞추어 정규화

DatetimeIndex(['2012-05-02', '2012-05-03', '2012-05-04', '2012-05-05',
               '2012-05-06'],
              dtype='datetime64[ns]', freq='D')

In [84]:
# 11.3.2 빈도와 날짜 오프셋

In [85]:
from pandas.tseries.offsets import Hour, Minute

In [86]:
hour = Hour()

In [87]:
hour

In [88]:
four_hours = Hour(4)

In [89]:
four_hours

In [91]:
pd.date_range('2000-01-01', '2000-01-03', freq='4h')  # 4시간 간격으로 만듦

DatetimeIndex(['2000-01-01 00:00:00', '2000-01-01 04:00:00',
               '2000-01-01 08:00:00', '2000-01-01 12:00:00',
               '2000-01-01 16:00:00', '2000-01-01 20:00:00',
               '2000-01-02 00:00:00', '2000-01-02 04:00:00',
               '2000-01-02 08:00:00', '2000-01-02 12:00:00',
               '2000-01-02 16:00:00', '2000-01-02 20:00:00',
               '2000-01-03 00:00:00'],
              dtype='datetime64[ns]', freq='4H')

In [92]:
Hour(2) + Minute(30)

In [93]:
pd.date_range('2000-01-01', periods=10, freq='1h30min')

DatetimeIndex(['2000-01-01 00:00:00', '2000-01-01 01:30:00',
               '2000-01-01 03:00:00', '2000-01-01 04:30:00',
               '2000-01-01 06:00:00', '2000-01-01 07:30:00',
               '2000-01-01 09:00:00', '2000-01-01 10:30:00',
               '2000-01-01 12:00:00', '2000-01-01 13:30:00'],
              dtype='datetime64[ns]', freq='90T')

In [96]:
rng = pd.date_range('2012-01-01', '2012-09-01', freq='WOM-3FRI')  # 매월 3째주 금요일의 날짜를 얻을 수 있음

In [97]:
list(rng)

[Timestamp('2012-01-20 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-02-17 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-03-16 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-04-20 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-05-18 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-06-15 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-07-20 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-08-17 00:00:00', freq='WOM-3FRI')]

In [98]:
# 11.3.3 데이터 시프트

In [99]:
ts1 = pd.Series(np.random.randn(4),
               index=pd.date_range('1/1/2000', periods=4, freq='M'))
ts1

2000-01-31   -1.129195
2000-02-29    0.020970
2000-03-31    0.639987
2000-04-30    0.887262
Freq: M, dtype: float64

In [100]:
ts1.shift(2)

2000-01-31         NaN
2000-02-29         NaN
2000-03-31   -1.129195
2000-04-30    0.020970
Freq: M, dtype: float64

In [101]:
ts1.shift(-2)

2000-01-31    0.639987
2000-02-29    0.887262
2000-03-31         NaN
2000-04-30         NaN
Freq: M, dtype: float64

In [102]:
ts1.shift(2, freq='M')

2000-03-31   -1.129195
2000-04-30    0.020970
2000-05-31    0.639987
2000-06-30    0.887262
Freq: M, dtype: float64

In [103]:
ts1.shift(3, freq='D')

2000-02-03   -1.129195
2000-03-03    0.020970
2000-04-03    0.639987
2000-05-03    0.887262
dtype: float64

In [104]:
ts1.shift(1, freq='90T')  # T 는 min 이다.

2000-01-31 01:30:00   -1.129195
2000-02-29 01:30:00    0.020970
2000-03-31 01:30:00    0.639987
2000-04-30 01:30:00    0.887262
dtype: float64

In [105]:
from pandas.tseries.offsets import Day, MonthEnd

In [106]:
now1 = datetime(2011, 11, 17)

In [107]:
now1 + 3 * Day()

Timestamp('2011-11-20 00:00:00')

In [108]:
now1 + MonthEnd()

Timestamp('2011-11-30 00:00:00')

In [109]:
now1 + MonthEnd(2)

Timestamp('2011-12-31 00:00:00')

In [110]:
offset = MonthEnd()

In [112]:
offset.rollforward(now1) # 날짜를 뒤로 밈

Timestamp('2011-11-30 00:00:00')

In [114]:
offset.rollback(now1) # 날짜를 앞으로 당김

Timestamp('2011-10-31 00:00:00')

In [115]:
ts2 = pd.Series(np.random.randn(20),
               index=pd.date_range('1/15/2000', periods=20, freq='4d'))  # 4일간격 20개

In [116]:
ts2

2000-01-15    1.254056
2000-01-19   -1.944346
2000-01-23    1.474760
2000-01-27    1.414947
2000-01-31   -0.152766
2000-02-04    0.314488
2000-02-08    0.382560
2000-02-12   -1.133833
2000-02-16   -0.103997
2000-02-20   -0.704780
2000-02-24   -0.397362
2000-02-28   -0.137869
2000-03-03   -0.749172
2000-03-07    1.687531
2000-03-11   -0.165479
2000-03-15   -0.113097
2000-03-19   -0.185643
2000-03-23    0.691622
2000-03-27    0.425597
2000-03-31   -0.074168
Freq: 4D, dtype: float64

In [117]:
ts2.groupby(offset.rollforward).mean()

2000-01-31    0.409330
2000-02-29   -0.254399
2000-03-31    0.189649
dtype: float64

In [119]:
ts2.resample('M').mean()  # 더 간단히 정리

2000-01-31    0.409330
2000-02-29   -0.254399
2000-03-31    0.189649
Freq: M, dtype: float64