# tuple

In [1]:
tup = 4, 5, 6
tup

(4, 5, 6)

In [2]:
nested_tup = (4, 5, 6), (7,8)
nested_tup

((4, 5, 6), (7, 8))

In [4]:
tuple([4, 0, 2])

(4, 0, 2)

In [6]:
tup = tuple('string')
tup

('s', 't', 'r', 'i', 'n', 'g')

In [7]:
tup[0]

's'

In [14]:
tup = tuple(['foo', [1, 2], True])
tup

('foo', [1, 2], True)

In [9]:
tup[2] = False

TypeError: 'tuple' object does not support item assignment

In [15]:
tup[1].append(3)
tup

('foo', [1, 2, 3], True)

In [16]:
(4, None, 'foo') + (6, 0) + ('bar',)

(4, None, 'foo', 6, 0, 'bar')

In [17]:
(4, None, 'foo') * 4

(4, None, 'foo', 4, None, 'foo', 4, None, 'foo', 4, None, 'foo')

In [19]:
tup = 4, 5, 6

In [20]:
a, b, c = tup

In [21]:
b

5

In [ ]:
# 손쉽게 변경 가능

In [22]:
a, b = 1, 2
a

1

In [23]:
b

2

In [24]:
a, b = b, a

In [25]:
a

2

In [26]:
b

1

In [27]:
seq = (1, 2, 3), (4,5,6), (7,8,9)

In [28]:
#format 함수
for a, b, c in seq:
    print('a={0}, b={1}, c={2}'.format(a,b,c))

a=1, b=2, c=3
a=4, b=5, c=6
a=7, b=8, c=9

In [34]:
values = 1, 2, 3, 4, 5
a, b, *_ = values

In [30]:
a, b

(1, 2)

In [35]:
_

[3, 4, 5]

In [36]:
#count 함수
a = 1, 2, 2, 2, 3, 4, 2
a.count(2)

4

# list

In [37]:
a_list = [2, 3, 7, None]
tup = ('foo', 'bar', 'baz')

In [38]:
b_list = list(tup)

In [39]:
b_list

['foo', 'bar', 'baz']

In [40]:
gen = range(10)

In [41]:
gen

range(0, 10)

In [42]:
tuple(gen)

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9)

In [43]:
list(gen)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [44]:
#append를 이용해서 리스트의 끝에 원소추가 가능
b_list.append('dwarf')

In [45]:
b_list

['foo', 'bar', 'baz', 'dwarf']

In [46]:
#insert 를 이용하면 원하는 위치에 원소 추가 가능: 단 연산비용이 많이 들기 때문에 colltections.deque나 append를 사용하도록 한다.
b_list.insert(2, 'red')

In [47]:
b_list

['foo', 'bar', 'red', 'baz', 'dwarf']

In [48]:
b_list.append('foo')

In [52]:
b_list.remove('red')

In [53]:
b_list

['bar', 'baz', 'dwarf', 'foo']

In [54]:
'red' in b_list

False

In [55]:
[4, None, 'foo'] + [7, 8, (2,3)]

[4, None, 'foo', 7, 8, (2, 3)]

In [56]:
x = [4, None, 'foo']

In [57]:
#extend를 이용해 여러개의 값 추가
x.extend([7, 8, (2,3)])

In [58]:
x

[4, None, 'foo', 7, 8, (2, 3)]

# sort 함수

In [60]:
a = [7,9,3,1,2,5,4]
a.sort()

In [61]:
a

[1, 2, 3, 4, 5, 7, 9]

In [62]:
#문자열 길이 순으로 정렬가능
b = ['saw', 'six', 'small', 'he', 'foxes']
b.sort(key=len)
b

['he', 'saw', 'six', 'small', 'foxes']

In [63]:
#bisect 은 오름차순으로 정리된 리스트에서 특정값 x 가 오름차순으로 정리된 곳에 어디에 들어가야할지를 넣는 모듈이다.
import bisect
c = [1, 2, 2, 2, 3, 4, 7]

In [64]:
bisect.bisect(c, 2)

4

In [66]:
bisect.bisect(c, 5)

6

In [67]:
bisect.insort(c, 6)

In [68]:
c

[1, 2, 2, 2, 3, 4, 6, 7]

In [73]:
#슬라이싱( 배열 튜플 ndarray 리스트 )
seq = [7, 2, 3, 7, 5, 6, 0 ,1]
seq[1:6]

[2, 3, 7, 5, 6]

In [74]:
#삽입도 가능
seq[4:5] = [0, 0]
seq

[7, 2, 3, 7, 0, 0, 6, 0, 1]

In [75]:
seq[:3]

[7, 2, 3]

In [76]:
seq[3:]

[7, 0, 0, 6, 0, 1]

In [77]:
#음수 색인은 끝에서부터의 위치
seq[-4:]

[0, 6, 0, 1]

In [78]:
seq[-6:-2]

[7, 0, 0, 6]

In [79]:
seq[::-1]

[1, 0, 6, 0, 0, 7, 3, 2, 7]

In [80]:
seq[::2]

[7, 3, 0, 6, 1]

# enumerate

In [82]:
#list의 내용을 dic으로 넘겨주는 방법
some_list = ['foo', 'bar', 'baz']
mapping = {}
for i, v in enumerate(some_list):
    mapping[v] = i
mapping

{'foo': 0, 'bar': 1, 'baz': 2}

# sorted

In [83]:
sorted('forse race')

[' ', 'a', 'c', 'e', 'e', 'f', 'o', 'r', 'r', 's']

In [84]:
sorted([7,5,3,5,2,1,0])

[0, 1, 2, 3, 5, 5, 7]

# zip

In [86]:
seq1 = [1,2,3]
seq2 = [4,5,6]
list(zip(seq1, seq2))

[(1, 4), (2, 5), (3, 6)]

In [88]:
seq1 = some_list
seq2 = ['one', 'two', 'three']
for i, (a,b) in enumerate(zip(seq1,seq2)):
    print('{0}: {1}, {2}'.format(i, a, b))

0: foo, one
1: bar, two
2: baz, three

In [89]:
list(reversed(range(10)))

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

# dict

In [90]:
d1 = {'a': 'some value', 'b': [1, 2, 3, 4]}

In [91]:
d1

{'a': 'some value', 'b': [1, 2, 3, 4]}

In [92]:
d1[3] = 'an integer'

In [93]:
d1

{'a': 'some value', 'b': [1, 2, 3, 4], 3: 'an integer'}

In [94]:
d1['b']

[1, 2, 3, 4]

In [95]:
'b' in d1

True

In [96]:
d1[7] = 'another value'

In [97]:
d1

{'a': 'some value', 'b': [1, 2, 3, 4], 3: 'an integer', 7: 'another value'}

In [98]:
#삭제

del d1[3]

In [99]:
d1

{'a': 'some value', 'b': [1, 2, 3, 4], 7: 'another value'}

In [100]:
# 값을 반환하면서 삭제

ret = d1.pop(7)
ret

'another value'

In [101]:
d1

{'a': 'some value', 'b': [1, 2, 3, 4]}

In [102]:
d1[7] = 'an integer'
list(d1.keys())

['a', 'b', 7]

In [103]:
list(d1.values())

['some value', [1, 2, 3, 4], 'an integer']

In [104]:
d1.update({'c': 'foo', 'd': 'bar'})

In [105]:
d1

{'a': 'some value', 'b': [1, 2, 3, 4], 7: 'an integer', 'c': 'foo', 'd': 'bar'}

In [106]:
d1.update({
    'c':12
})

In [107]:
d1 # 그냥 값이 덮어 써진다

{'a': 'some value', 'b': [1, 2, 3, 4], 7: 'an integer', 'c': 12, 'd': 'bar'}

In [108]:
seq1

['foo', 'bar', 'baz']

In [109]:
mapping = {}
for key, value in zip(range(3),seq1):
    mapping[key] = value  # 이 방법을 통해 dic으로 가져올 수 있다

In [110]:
mapping

{0: 'foo', 1: 'bar', 2: 'baz'}

In [111]:
mapping = {}
mapping = dict(zip(range(3),seq1)) # 이 방법을 통해서도 dic으로 가져올 수 있다.

In [112]:
mapping

{0: 'foo', 1: 'bar', 2: 'baz'}

In [114]:
words = ['apple', 'bat', 'bar', 'atom', 'book']

In [115]:
by_letter = {}
for word in words:
    letter = word[0]
    if letter not in by_letter:
        by_letter[letter] = [word]
    else:
        by_letter[letter].append(word)
by_letter

{'a': ['apple', 'atom'], 'b': ['bat', 'bar', 'book']}

In [116]:
set([2,2,2,1,3,3])

{1, 2, 3}

In [117]:
{2,2,2,1,3,3}

{1, 2, 3}

In [130]:
a = {1,2,3,4,5}

In [131]:
b = {3,4,5,6,7,8}

In [132]:
a.union(b) # a | b

{1, 2, 3, 4, 5, 6, 7, 8}

In [133]:
a.intersection(b) # a & b

{3, 4, 5}

In [138]:
strings = ['a', 'as', 'bat', 'car', 'dove', 'python'] # 문자열길이가 2 이하인 문자열 제외하고 모두 대문자로 변경
[x.upper() for x in strings if len(x) > 2]

['BAT', 'CAR', 'DOVE', 'PYTHON']

In [139]:
# 중첩된 리스트 표기
all_data = [['John', 'Emily', 'Michael', 'Mary', 'Steven'],
           ['Maria', 'Juan', 'Javier', 'Natalia', 'Pilar']]
result = [name for names in all_data for name in names
         if name.count('e') >= 2]
result

['Steven']

In [142]:
flattened = [x for tup in all_data for x in tup] # 1차원으로 바꾸기
flattened

['John',
 'Emily',
 'Michael',
 'Mary',
 'Steven',
 'Maria',
 'Juan',
 'Javier',
 'Natalia',
 'Pilar']

In [143]:
[[x for x in tup] for tup in all_data]

[['John', 'Emily', 'Michael', 'Mary', 'Steven'],
 ['Maria', 'Juan', 'Javier', 'Natalia', 'Pilar']]