# Numpy basic: 배열과 벡터 연산

In [1]:
# 4.1 Numpy ndarray: 다차원 베열 객체

In [2]:
import numpy as np

data = np.random.randn(2,3)
data

array([[ 0.76784918, -0.2298172 ,  0.44664886],
       [ 1.69902998, -1.78777728, -0.14842845]])

In [3]:
data * 10

array([[  7.67849177,  -2.29817205,   4.46648856],
       [ 16.99029979, -17.87777277,  -1.48428451]])

In [4]:
data + data

array([[ 1.53569835, -0.45963441,  0.89329771],
       [ 3.39805996, -3.57555455, -0.2968569 ]])

In [5]:
data.shape

(2, 3)

In [6]:
# 4.1.1 ndarray 생성하기

In [8]:
data1 = [6, 7.5, 8, 0 ,1]

arr1 = np.array(data1)
arr1

array([6. , 7.5, 8. , 0. , 1. ])

In [9]:
data2 = [[6, 7.5, 8, 0 ,1], [2,4,5,6,8]]

arr2 = np.array(data2)
arr2

array([[6. , 7.5, 8. , 0. , 1. ],
       [2. , 4. , 5. , 6. , 8. ]])

In [10]:
 # >> 위의 경우처럼 list인 경우 array를 이용해서 쉽게 다차원 배열로 변환할 수 있다.

In [11]:
arr2.ndim # 몇 차원인가?

2

In [12]:
arr2.shape # 어떤 행렬인가?

(2, 5)

In [13]:
arr2.dtype # 어떤 자료형인가?

dtype('float64')

In [14]:
np.zeros(10) # (1,10)인 0이 생성된다

array([0., 0., 0., 0., 0., 0., 0., 0., 0., 0.])

In [16]:
np.zeros((3, 5)) # (3, 5)인 0이 생성

array([[0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0.]])

In [17]:
np.ones((2,4)) # (2,4)인 0이 생성

array([[1., 1., 1., 1.],
       [1., 1., 1., 1.]])

In [23]:
np.arange(13) # 자료형을 명시하지 않는 경우, 부동소수점

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12])

In [24]:
# 4.1.2 ndarray의 dtype

In [26]:
arr = np.arange(1,6)
arr

array([1, 2, 3, 4, 5])

In [27]:
arr.dtype

dtype('int64')

In [28]:
float_arr = arr.astype(np.float64) # >> 이 방법으로 자료형 변환 가능
float_arr.dtype

dtype('float64')

In [31]:
arr3 = np.random.randn(1,5)
arr3

array([[ 0.62696802,  0.28592366, -3.0068355 ,  0.67685293,  0.14679453]])

In [32]:
float_arr3 = arr3.astype(np.int64) # 음수로 경우는 아래 자리를 버리고 데이터가 바뀐다
float_arr3

array([[ 0,  0, -3,  0,  0]])

In [34]:
# 추가적으로 다른 배열의 이름.dtype 을 이용하면 자료형을 굳이 알지 않아도 같은 자료형으로 변경할 수 있다.
data1 = np.arange(1,6)
exam = np.array([.33, .55], dtype = np.float64)
data2 = data1.astype(exam.dtype)
data2

array([1., 2., 3., 4., 5.])

In [35]:
# 4.1.3 Numpy 배열의 산술 연산

In [36]:
# >> for 문을 작성하지 않고 데이터를 처리할 수 있음

In [38]:
data = np.array([[1, 2, 3], [4, 5, 6]])
arr = data.astype(np.float64)
arr

array([[1., 2., 3.],
       [4., 5., 6.]])

In [39]:
arr * arr

array([[ 1.,  4.,  9.],
       [16., 25., 36.]])

In [40]:
arr - arr

array([[0., 0., 0.],
       [0., 0., 0.]])

In [41]:
1 / arr

array([[1.        , 0.5       , 0.33333333],
       [0.25      , 0.2       , 0.16666667]])

In [42]:
arr ** 0.5

array([[1.        , 1.41421356, 1.73205081],
       [2.        , 2.23606798, 2.44948974]])

In [43]:
arr1 = np.array([[0, 5, 4], [2, 5, 1]])
arr1 > arr

array([[False,  True,  True],
       [False, False, False]])

In [44]:
arr1.dtype

dtype('int64')

In [45]:
arr.dtype

dtype('float64')

In [46]:
# 4.1.4 색인과 슬라이딩 기초

In [48]:
arr = np.arange(10)
arr

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [49]:
arr[5]

5

In [50]:
arr[5:8]

array([5, 6, 7])

In [53]:
arr[5:8] = 12 # >> 선택 영역에 broadcasting이 된다
arr

array([ 0,  1,  2,  3,  4, 12, 12, 12,  8,  9])

In [58]:
arr_piece = arr[5:8]
arr_piece

array([12, 12, 12])

In [59]:
arr_piece[1] = 10214  # >> 일부를 떼어낸 값을 바꾸면 같이 바뀐다
arr

array([    0,     1,     2,     3,     4,    12, 10214,    12,     8,
           9])

In [60]:
arr_piece[:]  # 모든 값 할당

array([   12, 10214,    12])

In [62]:
arr_piece[:] = 64
arr

array([ 0,  1,  2,  3,  4, 64, 64, 64,  8,  9])

In [63]:
# 값들의 차원이 높아지면 헷갈리지 말고 판단할 것

In [65]:
arr2d = np.array([[1, 2, 3], [4, 5, 6], [7, 8, 9]])
arr2d[2]

array([7, 8, 9])

In [66]:
arr2d[0][1]

2

In [68]:
arr2d[:2] # 이 방법으로 슬라이싱 가능, 다차원도 원소를 불러오는 방법으로 불러올 수 있음

array([[1, 2, 3],
       [4, 5, 6]])

In [70]:
arr2d[:2,:2]

array([[1, 2],
       [4, 5]])

In [71]:
# 4.1.5 boolean값으로 선택하기

In [72]:
names = np.array(['Bob', 'Joe','Will', 'Bob', 'Will', 'Joe', 'Joe'])

data = np.random.randn(7, 4)
names

array(['Bob', 'Joe', 'Will', 'Bob', 'Will', 'Joe', 'Joe'], dtype='<U4')

In [73]:
data

array([[-2.71900431, -0.3467875 ,  0.86264142, -1.75087921],
       [-1.89647415, -1.27025207,  0.75336067, -0.09036327],
       [ 0.77805382, -0.1625652 ,  0.77972625,  0.41751402],
       [-0.23486172, -0.72315326, -0.48193605, -0.29221954],
       [ 1.17791906, -0.61144332,  0.56246463,  0.85429554],
       [ 0.16923369,  0.18450328,  0.6637852 ,  1.37999731],
       [-0.40119552,  0.86397846,  0.8339545 , -0.25177542]])

In [74]:
names == 'Bob'

array([ True, False, False,  True, False, False, False])

In [75]:
data[names =='Bob'] # true 인 부분의 행이 출력된다

array([[-2.71900431, -0.3467875 ,  0.86264142, -1.75087921],
       [-0.23486172, -0.72315326, -0.48193605, -0.29221954]])

In [79]:
data[names == 'Bob', :2]

array([[-2.71900431, -0.3467875 ],
       [-0.23486172, -0.72315326]])

In [80]:
data[~(names == 'Bob')] # ~을 이용해 반대를 불러올 수 있다

array([[-1.89647415, -1.27025207,  0.75336067, -0.09036327],
       [ 0.77805382, -0.1625652 ,  0.77972625,  0.41751402],
       [ 1.17791906, -0.61144332,  0.56246463,  0.85429554],
       [ 0.16923369,  0.18450328,  0.6637852 ,  1.37999731],
       [-0.40119552,  0.86397846,  0.8339545 , -0.25177542]])

In [81]:
# 4.1.6 팬시 색인

In [82]:
# >> 정수 배열을 사용한 색인을 설명하기 위해 차용된 단어

In [84]:
arr = np.empty((8,4))

for i in range(8):
    arr[i] = i

arr

array([[0., 0., 0., 0.],
       [1., 1., 1., 1.],
       [2., 2., 2., 2.],
       [3., 3., 3., 3.],
       [4., 4., 4., 4.],
       [5., 5., 5., 5.],
       [6., 6., 6., 6.],
       [7., 7., 7., 7.]])

In [85]:
arr[[4, 3, 0, 6]]

array([[4., 4., 4., 4.],
       [3., 3., 3., 3.],
       [0., 0., 0., 0.],
       [6., 6., 6., 6.]])

In [86]:
arr[[-3, -5, -7]] # 음수는 끝에서부터 로우를 선택한다

array([[5., 5., 5., 5.],
       [3., 3., 3., 3.],
       [1., 1., 1., 1.]])

In [88]:
arr = np.arange(32).reshape((8, 4))
arr

array([[ 0,  1,  2,  3],
       [ 4,  5,  6,  7],
       [ 8,  9, 10, 11],
       [12, 13, 14, 15],
       [16, 17, 18, 19],
       [20, 21, 22, 23],
       [24, 25, 26, 27],
       [28, 29, 30, 31]])

In [90]:
arr[[1, 5, 7, 2], [0, 3, 1, 2]] # (1,0),(5,3),(7,1),(2,2)에 해당하는 원소가 선택됌

array([ 4, 23, 29, 10])

In [91]:
# 4.1.7 배열 전치와 축 바꾸기

In [92]:
arr = np.arange(15).reshape((3,5))
arr

array([[ 0,  1,  2,  3,  4],
       [ 5,  6,  7,  8,  9],
       [10, 11, 12, 13, 14]])

In [93]:
arr.T # transpose

array([[ 0,  5, 10],
       [ 1,  6, 11],
       [ 2,  7, 12],
       [ 3,  8, 13],
       [ 4,  9, 14]])

In [94]:
np.dot(arr.T, arr) # 행렬의 곱은 np.dot을 이용해서 계산, 단 shape은 맞아야한다

array([[125, 140, 155, 170, 185],
       [140, 158, 176, 194, 212],
       [155, 176, 197, 218, 239],
       [170, 194, 218, 242, 266],
       [185, 212, 239, 266, 293]])

In [95]:
# 다차원 배열의 경우: 튜플로 축번호를 받아서 transpose한다. arr.transpose((1,0,2))

In [96]:
# ndarray 에서는 swapaxes를 이용해서 배열을 바꾼다. 단 두 개의 축 번호를 받아야한다. arr.swapaxes(1, 2)